@page "/"

<PageTitle>Index</PageTitle>

<h1>Hello, world!</h1>

Welcome to your new app.
<SurveyPrompt Title="How is Blazor working for you?" />

<hr />
<Dialog Title="제목이야">
    Do you want to <i>learn more</i> about Blazor?
</Dialog>

<hr />
<Dialog Title="제목이야2"></Dialog>
